<launch>

  <arg name="imu" default="RAZOR" doc="Type of IMU being used. options: [RAZOR, MAVROS, VECTORNAV]"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="EKF" clear_params="true">
    <rosparam command="load" file="$(env HOME)/rover/src/rover_launcher/params/ekf.yaml" />
    <remap from="/odometry/filtered" to="/odom" />
    <param name="publish_tf" type="bool" value="false"/>
  </node>
	


</launch> 
