<launch>
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find rover_description)/urdf/rover_sim.urdf.xacro' --inorder" />  

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <!--rosparam param="source_list">["gazebo/link_states"]</rosparam-->
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="false"/>
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rover_gazebo)/rviz/rover.rviz" />
  
</launch>